:root {
    --bg: linear-gradient(to top, #010329, #000005);
    --glassClr: linear-gradient(to left, #142544, #1a9092);
    --waterClr: linear-gradient(to left, #142544, #1b6d6e);
}

body{
    background-image: var(--bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Preahvihear", sans-serif;
}

.gift-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    /* animation: Vibration 4s ease forwards; */
}

.gift-container.active{
    animation: Vibration 1s ease forwards;
}

@keyframes Vibration {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(.95, 1.05);
    }
    50% {
        transform: scale(1.1, .9);
    }
    70% {
        transform: scale(.9, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.gift-container .gift-box{
    position: absolute;
    height: 200px;
    width: 300px;
    background: #ec9c4a;
    animation: Bounce 4s ease infinite forwards;
}

@keyframes Bounce {
    0%{
        transform: translateY(-24px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-24px);
    }
}

.gift-box.active{
    animation: none;
}

.gift-box::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 200px;
    background: #e76f51;
    left: 124px;
}

.gift-box::after{
    content: '';
    position: absolute;
    box-shadow: inset 0 10px rgba(0, 0, 0, .3);
    width: 300px;
    height: 200px;
}

.click{
    position: absolute;
    background: #ec9c4a;
    height: 90px;
    width: 340px;
    left: -20px;
    top: -90px;
    cursor: pointer;
    z-index: 1;
    transition: .5s ease;
}

.click.active{
    transition-delay: 1s;
    transform: translateY(-240px);
}

.click::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 90px;
    left: 144px;
    background: #e76f51;
    z-index: 2;
}

.click::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 60px solid #e76f51;
    border-top: 60px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(-90deg);
    top: -93px;
    left: 136px;
    z-index: 3;
}

.gift-container .shadow{
    content: '';
    position: relative;
    width: 340px;
    height: 40px;
    background: rgba(0,0,0,.4);
    top: 100px;
    border-radius: 50%;
    left: -4px;
    animation: BounceOut 4s ease infinite forwards;
}

.gift-container .shadow.active{
    animation: none;
}

@keyframes BounceOut {
    0% {
        transform: translateY(24px);
        scale: .7;
    }

    50% {
        transform: translateY(0px);
        scale: 1;
    }

    100% {
        transform: translateY(24px);
        scale: .7;
    }
}

.text{
    position: absolute;
    top: 0;
    width: 200px;
    background: #f5dbad;
    padding: 20px;
    text-align: center;
    font-size: 11px;
    color: #e76f51;
    border-radius: 20px;
    z-index: -1;
    transition: 0.99s ease;
    transition-delay: 0.2s;
}

.text.active{
    scale: 1;
    transform: translateY(-240px);
}

.text.active2{
    top: 0;
    transition-delay: 1.5s;
}

.text a {
    text-decoration: none;
    color: #e76f51;
    font-weight: bold;
}

.text a:hover{
    opacity: 0.7;
}
/* 
.text a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #cdbdbd;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.text a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */